body
  margin 0

.map-area, .map
  width 100vw
  height 100vh
  position fixed

.map-controls, .map-info
  position fixed
  top 1em
  display flex
  flex-direction column
  &>*
    margin-bottom 0.5em

.map-controls
  left 1em


.map-info
  right 1em
  width: 30%
  max-width: 400px
  bottom: 1em
  //position relative
  .panel-column, .panel-outer
    max-height 100%
  .panel-content
    transition: height 0.5s ease-in-out

  .panel-header
    align-items baseline
    div.expander
      flex-grow 1
    h1
      font-size 1.2em
    margin-top 0

  .panel-content
    overflow-y scroll