@import "@blueprintjs/core/lib/css/blueprint.css"
@import "@macrostrat/ui-components/lib/esm/index.css"


body
  margin 0

.map-area, .map
  width 100vw
  height 100vh
  position fixed

.map-controls, .map-info
  position fixed
  top 1em
  display flex
  flex-direction column
  &>*
    margin-bottom 0.5em

.map-controls
  left 1em


.map-info
  right 1em
  min-width: 200px

  .panel-header
    align-items baseline
    div.expander
      flex-grow 1
    h1
      font-size 1.2em
    margin-top 0