//@import "mapbox-gl/dist/mapbox-gl.css"

body
  margin 0

.map-area, .map
  width 100vw
  height 100vh
  position fixed

.map-controls
  position fixed
  top 1em
  left 1em
  display flex
  flex-direction column
  &>*
    margin-bottom 0.5em